body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box ;
    font-family: 'Cabin', sans-serif;


}
#first {
    background-color: #4c5d73;
    text-align: center;
    height: 500px;
}
#first>img {
    border-radius: 50%;
    margin-top: 30px;
}
#first>h1>.name {
    color: aquamarine;
}
.about {
    width: 650px;
    text-align: justify;
}
#second {
    height: 500px;
    display: flex;
}